<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
</head>
<body>
    <div id="vue_det">
        
        <h1>site : {[site]}</h1>
        <h1>url : {[url]}</h1>
        <h1>{[details()]}</h1>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#vue_det',
            data: {
                site: "菜鸟教程",
                url: "www.runoob.com",
                alexa: "10000"
            },
            methods: {
                details: function() {
                    return  this.site + " - 学的不仅是技术，更是梦想！";
                }
            },
            delimiters:['{[', ']}']
        })
    </script>
</body>
</html>