<ul class="posts">
    {% for post in posts %}
    <li class="article-item">
        <div class="item-holder">
			<div class="article-content">
				<div class="article-left-block">
					<a class="article-title" href="{{ url_for('article.cv', id=post.id) }}">{{ post.title }}</a>
					<div class="article-desc">
						{% if post.body_html %}
							{{ post.body_html | safe }}
						{% else %}
							{{ post.body }}
						{% endif %}
					</div>
					<div class="article-info-bar">
						<div class="post-date">{{ moment(post.timestamp).format("YYYY-D-M H:mm") }}</div>
						
						<div class="post-footer">
							{% if current_user == post.author %}
							<a href="{{ url_for('article.editArticle', id=post.id) }}">
							<span class="label label-primary">编辑</span>
							</a>
							{% elif current_user.is_administrator() %}
							<a href="{{ url_for('article.editArticle', id=post.id) }}">
							<span class="label label-danger">编辑 [Admin]</span>
							</a>
							{% endif %}
							<a href="{{ url_for('article.cv', id=post.id) }}">
								<span class="label label-primary">阅读全文>>
							</a>
						</div>
					</div>
				</div>
			</div>
        </div>
    </li>
    {% endfor %}
</ul>