<div id="banner_link" class="head-banner report-wrap-module report-scroll-module" style="background-image: url({{ url_for('static',filename='1.jpg') }});">
    <div class="head-content bili-wrapper">
        <p class="head-title">你想看的都在这里~</p>
        <div class="search">
            <form class="searchform">
                <input type="text" autocomplete="off" accesskey="s" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="你知道么？" value="" class="search-keyword">
                <button type="submit" class="search-submit"></button>
            </form><!---->
            <a href="" target="_blank" class="link-ranking"><span>排行榜</span></a>
        </div>
        <a href="" class="head-logo" style="background-image: url({{ url_for('static',filename='logo.jpg') }});"></a>
    </div>
    <a href="" target="_blank" class="banner-link"></a>
</div>