{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="bili-wrapper">
        {% block wrapper %}
        
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}


<script src="{{ url_for('static',filename='js/main.js') }}"></script>
{{ moment.include_moment() }}
{% endblock %}
