{% extends "layout.html" %}

{% block title %}Flasky - Login{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}" media="screen,projection" />
{% endblock %}

{% block navbar %}
    <div class="bili-header-m">
        {% include "nav-menu.html" %}
        {% include "banner-link.html" %}
    </div>
{% endblock %}

{% block content %}
{% for msg in get_flashed_messages() %}
    <div>
        {{ msg }}
    </div>
{% endfor %}
<div class="title-line">
    <span class="tit" style="font-size: 38px;">登录</span>
</div>
<div class="login-box clearfix">
    <div class="login-left"></div>
    <div class="line"></div>
    <div class="login-right">
        <div class="form-login">
            <div class="input-box">
                <form method='post'>
                    <ul>
                        <li>{{ form.csrf_token }}</li>
                        <li>
                            <div class="input-container">
                                {{ form.email(placeholder="用户邮箱") }}
                                {{ form.email.label }}
                                <div class="bottom-line"></div>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                    {{ form.password(placeholder="密码") }}
                                    {{ form.password.label }}
                                    <div class="bottom-line"></div>
                            </div>
                        </li>
                        <li class="remember">
                            <label>
                                {{ form.remember_me }}记住我
                                <span>不是自己的电脑上不要勾选此项</span>
                                <a target="_blank" href="{{ url_for('auth.password_reset_request') }}" class="forget-password">忘记密码?</a>
                                <!-- <a target="_blank" href="{{ url_for('auth.password_reset_request') }}" class="not-checkout">无法验证?</a> -->
                            </label>
                        </li>
                        <li>
                            <div class="btn-box">
                                {{ form.submit(class_="btn btn-login") }}
                                <a class="btn btn-reg" href="{{ url_for('auth.register') }}">注册</a>
                            </div>
                        </li>
                    </ul>
                </form>
                <!-- <p>忘记密码?<a href="{{ url_for('auth.password_reset_request') }}">重置密码</a>.</p> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}