<div class="bili-wrapper">
    <div id="primary-menu" class="primary-menu">
        <ul class="nav-menu">
            <li class="nav-item home"><a href="/" class="nav-link"><div class="nav-name">首页</div></a>
            </li>
            
            <li class="nav-item">
                <a href="{{ url_for('article.index') }}" class="nav-link">
                    <div class="num-wrap"><span class="num">111</span></div>
                    <div class="nav-name">文章</div>
                </a>
                
                <ul class="sub-nav">
                    <li class="sub-nav-item">
                        <a href="{{ url_for('article.list') }}" class="sub-nav-link">
                            <span>
                                文章列表
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a href="{{ url_for('article.postArticle') }}" class="sub-nav-link">
                            <span>
                                发布文章
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a href="/" class="sub-nav-link">
                            <span>
                                ...
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <div class="num-wrap"><span class="num">111</span></div>
                    <div class="nav-name">动画</div>
                </a>
                
                <ul class="sub-nav">
                    <li class="sub-nav-item">
                        <a href="/" class="sub-nav-link">
                            <span>
                                MAD.AMV
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a href="/" class="sub-nav-link">
                            <span>
                                MAD.AMV
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a href="/" class="sub-nav-link">
                            <span>
                                MAD.AMV
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <div class="num-wrap"><span class="num">111</span></div>
                    <div class="nav-name">动画</div>
                </a>
                
                <ul class="sub-nav">
                    <li class="sub-nav-item">
                        <a href="/" class="sub-nav-link">
                            <span>
                                MAD.AMV
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a href="/" class="sub-nav-link">
                            <span>
                                MAD.AMV
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a href="/" class="sub-nav-link">
                            <span>
                                MAD.AMV
                                <i class="arrow"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>		
    </div>
</div>